In [1]:
print ("Hello World")

Hello World

# heading

#  Hello World
----------
*Hello World*

----------
hello world

*Master*

**Mater**

[google](www.google.com)

# create a variable and storing string integer and print float number

In [4]:
Var1=5
print(float(Var1))

5.0

In [5]:
integer= 6
flt= 5.8
string = "Hello World"

In [6]:
print(type(integer))
print(type(flt))
print(type(string))

<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
age1=input('Enter your age: ')

Enter your age: 25

In [8]:
print(age1)

25

In [16]:
print ('Age of the customer is', age1,'years')

Age of the customer is 25 years

In [10]:
type(age1)

str

In [13]:
# type casting
age1_type_casted= str(age1)
type(age1_type_casted)

str

In [14]:
age1_type_casted= int(age1)
type(age1_type_casted)

int

In [18]:
age1_type_casted= float(7)
type(age1_type_casted)
print (age1_type_casted)

7.0

In [19]:
a= 10

In [20]:
print(f"The value of a is {a}")  # Prints the value of a

The value of a is 10

In [21]:
print("The value of a is", a)

The value of a is 10

In [22]:
# single line comment

In [23]:
""" Mutliple line comments
adds to the line """

' Mutliple line comments\nadds to the line '

In [25]:
# Print all keywords in Python

In [24]:
import keyword
print (keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [26]:
a= 10
print(type(a))

a= 23.45
print(type(a))

print (a)

a= True
print(type(a))

print (a)

<class 'int'>
<class 'float'>
23.45
<class 'bool'>
True

In [28]:
# Multiple assignment
  
a,b,c =1,2,3
print(a,b,c)

1 2 3

In [29]:
# Swap two numbers

a=10
b=5

temp = a
a=b
b=temp
print (a,b)

5 10

In [31]:
# Swap 4 and 8
b=input("Enter the value of b:")
c=input("Enter the value of c:")

temp=b
b=c
c=temp
print(b,c)

Enter the value of b: 4
Enter the value of c:8
8 4

In [33]:
a=14
b=5

print ('a +b =',a+b)

print ('a-b=',a-b)

print ('a*b=',a *b)

print ('a%b=',a%b)

print ('a/b=', a/b)

print ('a//b=', a//b)

print ('a**b=', a**b)

a +b = 19
a-b= 9
a*b= 70
a%b= 4
a/b= 2.8
a//b= 2
a**b= 537824

In [2]:
# logical operators
x = True
y = False
print ('x and y is', x and y)
print ('x or y is', x or y)
print ('not x is', not x)

x and y is False
x or y is True
not x is False

In [4]:
# Binary
bin(2),bin(7)

('0b10', '0b111')

In [3]:
# Bitwise operators

x =2
y=7
print('x & y =', x&y)
print('x | y =', x|y)
print('x ^ y =', x^y)
print('~x= ', ~x)
print('x>>2=', x>>2)
print('x<<2=', x<<2)

x & y = 2
x | y = 7
x ^ y = 5
~x=  -3
x>>2= 0
x<<2= 8

In [11]:
# checking operator
x=5
y=10
l=[1,2,3,5,10]
if x and y in l:
  print ("Present")

Present

In [15]:
x1=5
y1=5
x2="Hello"
y2="Hello"
x3= [1,2,3]
y3 = [1,2,3]
print (x1 is y1)
print (x2 is y2)
print (x3 is y3)

True
True
False

In [16]:
# Membership Operators
x= "Hello World"
y={1:'a',2:'b'}
print ('H' in x)
print ("hello" not in x)
print(1 in y)
print('a' in y)

True
True
True
False